/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* CSS RESET END */


body {
  display: flex;
  flex-direction: column; 
}

#pokemon-preview {
  height: 50dvh;
}

#pokemon-container {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-height: 50dvh;
  overflow-y: scroll;
}

.pokemon-card{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: grey;
  width: 20%;
  border-radius: 1rem;
  transition: 2ms ease-in-out;
}

.pokemon-card:hover {
  transform: translateY(-2px)
}