/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* CSS RESET END */


body {
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}

#pokemon-details {
  display: flex;
  height: 50dvh;
  background-color: orange;
}

#pokemon-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 100%;
  background-color: aqua;
}

#pokemon-container {
  background-color: green;
  /* padding: 2em; */
  display: flex;
  position: relative;
  flex-direction: column;
  height: 50dvh;
  overflow-y: scroll;
}

#filter-toolbar {
  display: flex;
  position: fixed;
  z-index: 10;
  min-width: 100%;
  justify-content: space-evenly;
  background-color: blueviolet;
  padding: 1em;
}

#filter-options {
  display: flex;
  flex-direction: column;
}

.filter-panel{
  width: 80%;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  background-color: red;
  padding: 6em 0 2em 0;
}
.pokemon-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: grey;
  width: 20%;
  border-radius: 1rem;
  transition: .3s ease;
}

.pokemon-card:hover {
  transform: translateY(-5px) scale(1.01)
}

#pokemon-details-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid black;
}

#pokemon-info {
  overflow-y: scroll;
  min-width: 50dvw;
}

.gen-btn {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.gen-btn:hover {
  background-color: grey;
}

#pokemon-search{
  background-color: white;
}

.hidden {
  display: none !important;
}

.type-btn {
  display: flex;
  align-items: center;
  gap:0.4em;
  background-color: lightgray;
  padding: 0.3em 0.8em;
  min-width: 10ch;
  border-radius: 20px;
  text-align: center;
}
.type-btn img{
  width: 30px;
}
.type-btn:hover{
  background-color: gray;
}
#type-btn-container{
  display: flex;
  gap: 0.3em;
  flex-wrap: wrap;
  flex: 1 1 0;
}